.comment-card-main{

    & > .MuiCard-root{
        
      & > .MuiCardHeader-root{
            padding: 8px 16px 0px 10px;
            & > .MuiCardHeader-content{
                > .MuiTypography-root:nth-child(1){
                    font-family: Roboto !important;
                    font-size: 16px !important;
                    font-weight: 600 !important;
                    color: #000 !important;
                }
                > .MuiTypography-root:nth-child(2){
                    font-family: Roboto !important;
                    font-size: 11px !important;
                    font-weight: 300 !important;
                    color: #000 !important;
                }
            }
        }

        & > .MuiCardContent-root:last-child{
            padding: 8px 16px;
            & > .MuiTypography-root{
                font-family: Roboto !important;
                font-size: 14px !important;
                font-weight: 300 !important;
                letter-spacing: 0.33px  !important;
                color: #1a1c1d !important;
            }
        }
    }

}