.ecg-report-main{
    margin-left: 30px;
    margin-right: 35px;
    & > .MuiGrid-root{

        // & > .MuiGrid-root:nth-child(1){
            
        // }
        // & > .MuiGrid-root:nth-child(2){
            
        // }
        & > .MuiGrid-root:nth-child(2){
            > div{
                background: #f8f9fb;
                > span {
                    font-family: Roboto;
                    font-size: 15px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.35px;
                    color: #288ec0;
                }
            }
        }

        & > .save-btn{
            width: 100%;
            // background: red;
            display: flex;
            justify-content: flex-end;
            margin-top: 5px;
            & > .MuiButtonBase-root{
                background: #1e85b2;
                text-transform: none;
                padding: 2px;

            }
        }
    }
}