.scroll-btn {
    font-family: sans-serif;
    text-align: center;
    // width: 600px;
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    & > ul{
        display: flex;
        align-items: center;
        list-style: none;
        max-width: 100%;
        overflow-x: scroll;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          background: transparent; /* make scrollbar transparent */
          -webkit-appearance: none;
          width: 0;
          height: 0;
        }
      & >  li{
          cursor: pointer;
          background:white;
          color: black;
          border: 1px solid #b7b7b7;
          padding: 2px 30px;
          border-radius: 8px;
          margin: 0 4px;
          white-space: nowrap;
          font-family: Roboto;
            font-size: 18px;
            // font-weight: 500;
            // font-stretch: normal;
            // font-style: normal;
            // line-height: normal;
            // letter-spacing: normal;
            // text-align: center;
          & > p{
              margin: 0px;
          }
          
        }
      }
      
      & > button{
        border: 0;
        color: #189dd4;
        background: transparent;
        font-size: 24px;
        margin: 0 8px;
      }
  }

  .btn-selected{
      & > .scroll-btn > ul > li{
        background:#288ec0;
        color: #fff;
      }
    
  }
  
  