.mainContainer2 {
    // margin-top: 10px;
    // margin-left: 40px;
    // background: #F5F5F5;
    margin-bottom: 10px;
    width: 100%;

    &>.MuiGrid-root {

        &>.MuiGrid-root:nth-child(1) {
            &>.MuiAvatar-root {
                width: 79px;
                height: 79px;
                padding: 7px;
                @media (max-width: 600px) {
                    height: 30px;
                    width: 30px;
                }
            }
        }

        &>.MuiGrid-root:nth-child(2) {
            &>div {
                display: flex;
                height: 100%;
                justify-content: start;
                align-items: center;
                font-family: sans-serif;
                font-size: 30px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #24252d;
                @media (max-width: 600px) {
                    font-size: 16px;
                    font-weight: 600;
                    padding-left: 15px;
                }
            }
        }

        &>.MuiGrid-root:nth-child(3) {
            &>div {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                align-items: flex-start;
                // border: 1px solid white;             
                font-family: sans-serif;
                opacity: 0.9;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;

                &>label:nth-child(1) {
                    font-size: 12px;
                    color: #a8a8a8;
                }

                &>label:nth-child(2) {
                    margin-top: 5px;
                    font-size: 14px;
                    color: #010304;
                    font-weight: 600;
                }
            }
        }

        &>.MuiGrid-root:nth-child(4) {
            &>div {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                align-items: flex-start;
                // border: 1px solid white;             
                font-family: sans-serif;
                opacity: 0.9;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;

                &>label:nth-child(1) {
                    color: #a8a8a8;
                    font-size: 12px;
                }

                &>label:nth-child(2) {
                    color: #010304;
                    margin-top: 2px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }

        &>.MuiGrid-root:nth-child(5) {
            &>div {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                align-items: flex-start;
                // border: 1px solid white;             
                font-family: sans-serif;
                opacity: 0.9;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;

                &>label:nth-child(1) {
                    color: #a8a8a8;
                    font-size: 12px;
                }

                &>label:nth-child(2) {
                    color: #010304;
                    margin-top: 2px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }



        &>label {

            margin: 50px 45px 46px 11px;

        }
    }
}