.mainContainer2{
    // margin-top: 10px;
    // margin-left: 40px;
    // background: brown;
    margin-bottom: 10px;
    width: 100%;
    & > .MuiGrid-root{

        & > .MuiGrid-root:nth-child(1){
            & > .MuiAvatar-root{
                width: 79px;
                height: 79px;
                padding: 7px;
            }
        }
        & > .MuiGrid-root:nth-child(2){
            & > div{
                display: flex;
                height: 100%;
                justify-content: start;
                align-items: center;
                // border: 1px solid white;
                font-family: Roboto;
                font-size: 30px;
                font-weight: 600;
                color: #24252d;
            }
        }
        & > .MuiGrid-root:nth-child(3){
            & > div{
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                align-items: flex-start;
                // border: 1px solid white;             
                font-family: Roboto;
                opacity: 0.9;

                & > label:nth-child(1){
                    color: #a8a8a8;
                    font-size: 12px;
                }
                & > label:nth-child(2){
                    color: #010304;
                    margin-top: 2px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
        & > .MuiGrid-root:nth-child(4){
            & > div{
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                align-items: flex-start;
                // border: 1px solid white;             
                font-family: Roboto;
                opacity: 0.9;
                
                & > label:nth-child(1){
                    color: #a8a8a8;
                    font-size: 12px;
                }
                & > label:nth-child(2){
                    color: #010304;
                    margin-top: 2px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
        & > .MuiGrid-root:nth-child(5){
            & > div{
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                align-items: flex-start;
                // border: 1px solid white;             
                font-family: Roboto;
                opacity: 0.9;
                
                & > label:nth-child(1){
                    color: #a8a8a8;
                    font-size: 12px;
                }
                & > label:nth-child(2){
                    color: #010304;
                    margin-top: 2px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
        
        

        & > label{

    margin: 50px 45px 46px 11px;
    
        }
    }
}