.imp-header-main {
    box-shadow: 0px 5px 5px rgb(189, 189, 189);
    // border: 1px solid black;

    &>.MuiBox-root {
        &>.MuiPaper-root {


            background: white;
            // box-shadow: 0px 5px 5px #ededed;

            &>.MuiToolbar-root {
                >.headerLogo{
                    height:auto;
                    width:5%;
                    @media (max-width: 1200px) {
                        height:auto;
                        width:6.3%;
                    }
                    @media (max-width: 900px) {
                        height:auto;
                        width:6.5%;
                    }
                    @media (max-width: 700px) {
                        height:auto;
                        width:6%;
                    }
                    @media (max-width: 600px) {
                        height:auto;
                        width:6%;
                    }
                    @media (max-width: 500px) {
                        height:auto;
                        width:6%;
                    }
                }
                >.MuiTypography-root {
                    font-family: sans-serif;
                    font-size: 32px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: -0.2px;
                    color: #4a4a4a;
                    @media (max-width: 700px) {
                        font-size: 20px;
                        font-weight: 500;
                    }
                    @media (max-width: 600px) {
                        font-size: 14px;
                        font-weight: 500;
                    }
                    @media (max-width: 500px) {
                        font-size: 12px;
                        font-weight: 500;
                    }
                    > span{
                        font-size: 15px;
                        margin-left: 0.5%;

                        @media (max-width: 700px) {
                            font-size: 12px;
                            font-weight: 400;
                            margin-left: 1%;
                        }
                        @media (max-width: 600px) {
                            font-size: 10px;
                            font-weight: 400;
                            margin-left: 1%;
                        }
                        @media (max-width: 500px) {
                            font-size: 8px;
                            font-weight: 400;
                            margin-left: 1%;
                        }
                    }
                }

                &>.MuiIconButton-root {
                    border-radius: 4px;
                    padding: 0px;
                    &>.MuiCardHeader-root {
                        &>.MuiCardHeader-avatar {
                            margin-right: 12px;
                            &>.MuiAvatar-root {
                                height: 31px;
                                width: 31px;
                            }
                        }

                        &>.MuiCardHeader-content {
                            &>.MuiTypography-root:nth-child(1) {
                                font-family: sans-serif;
                                font-size: 12px;
                                font-weight: 600;
                                color: #000;
                            }

                            &>.MuiTypography-root:nth-child(2) {
                                text-align: initial;
                                font-family: sans-serif;
                                font-size: 8px;
                                font-weight: 300;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                color: #000;
                            }
                        }
                    }
                }


            }
        }
    }
}