.ecrf-header{
    & > .MuiPaper-root{
        background-color: white;
        & > .MuiContainer-root{
            & > .MuiToolbar-root{
                & > .MuiTypography-root{
                    .Kardia-Pro {
                        // width: 147px;
                        // height: 38px;
                        margin: 0 694px 2px 0;
                        font-family: Roboto;
                        font-size: 32px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: -0.2px;
                        color: #4a4a4a;
                        & > .text-style-1{
                            @extend .Kardia-Pro;
                            font-weight: 300;
                        }
                      }
                }
                & > .MuiBox-root{
                    display: flex;
                    justify-content: end;
                    & > .MuiButtonBase-root{
                        background-color: transparent;
                        .Ben {
                            & > h6{
                                text-align: start;
                                font-family: Roboto;
                                font-size: 12px;                               
                                color: #000;
                                margin: 0px;
                                margin-left: 10px;
                                font-weight: 600;
                            }
                            .role{
                                font-weight: 300;
                                font-size: 9px;
                            }
                            // width: 20px;
                            // height: 14px;
                            // margin: 11px 48px 2px 14px;
                            
                          }
                    }
                }
            }
            
        }
    }
}

.Kardia-Pro {
    // width: 147px;
    // height: 38px;
    margin: 0 694x 2px 0;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #4a4a4a;
    & > .text-style-1{
        @extend .Kardia-Pro;
        font-weight: 300;
    }
  }

  
  