// @import '../WM/Layout/_variables.scss';

.lean-reset-password-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  text-align: center;
  & > .title {
    margin: 16px 0;
    // color: $lean-notification-text;
    // font-family: $lean-font-family;
    font-size: 25px; 
    font-weight: 500;  
  }
  .lean-reset-password-form-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;  
    flex: 1 1 auto;
    background-color: white;
  }
}

.lean-reset-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  flex: 1 1 auto;
  background-color: white;
  @media (max-width: 600px) {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    background-color: white;
  }
}

.lean-reset-password-form--wrapper {
  margin: 32px 0;
}

.lean-reset-passwordform--error {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
