.MuiTypography-root{
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.input-group{
    font-family: Roboto !important;
}

.simple-button{
    font-family: Roboto !important;
}