.table-filter-div {
  margin-top: 90px;
  // border: 1px solid red;
  padding: 0px 25px;

  &>.MuiGrid-root {
    // background: gray;

    &>.MuiGrid-root:nth-child(1) {
      // background: rgb(228, 162, 162);
      display: flex;
      align-items: center;

      &>span {
        font-family: Roboto;
        font-size: 22px;
        font-weight: 600;
        color: #4a4a4a;
      }
    }

    &>.MuiGrid-root:nth-child(2) {
      // background: rgb(183, 210, 147);
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &>.MuiPaper-root {
        padding: 0px;
        height: 38px;
        border: 1px solid lightgray;
        box-shadow: none;
      }

      &>.MuiFormControl-root {

        // background-color: white;
        >label {
          color: #1e85b2;
        }
      }

    }
  }
}

.MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select{
  font-family: Roboto !important;
}

.TableHeaders {
  width: flex !important;
  height: 12px;
  margin: 9.3px 73.2px 10.7px 48.8px;
  font-family: Roboto !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #000;
}

.TableContent {
  width: flex !important;
  height: 16px;
  margin: 17.5px 45.2px 18.5px 48.8px;
  opacity: 0.6;
  font-family: Roboto !important;
  font-size: 16px !important;
  font-weight: normal !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #57575b;
}