.table-filter-div-main {
    margin-top: 80px;
    // border: 1px solid red;
    padding: 0px 20px;
    margin-bottom: 20px;
  
    &>.MuiGrid-root {
      // background: gray;
  
      &>.MuiGrid-root:nth-child(1) {
        // background: rgb(228, 162, 162);
        display: flex;
        align-items: center;
  
        &>span {
          font-family: sans-serif;
          font-size: 22px;
          font-weight: 600;
          color: #4a4a4a;
        }
      }
  
      &>.MuiGrid-root:nth-child(2) {
        // background: rgb(183, 210, 147);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: 600px) {
            justify-content: flex-start;
        }
  
        &>.MuiPaper-root {
          padding: 0px;
          height: 38px;
          border: 1px solid lightgray;
          box-shadow: none;
        }
  
        &>.MuiFormControl-root {
  
          // background-color: white;
          >label {
            color: #1e85b2;
          }
        }
  
      }
    }
  }

.ecrf-table-main {

    &>.MuiPaper-root {
        // background: red;
        // max-height: 440px;

        &>.MuiTableContainer-root {
            // background: blue;
            // max-height: 440px;
            @media (max-width: 999px) {
                max-height: 440px;
                overflow: auto;
                // overflow-x: scroll;
            }
            height: auto;

            &>.MuiTable-root {
                // overflow-y: auto;
                // background: yellow;
                margin-top: 0px;

                &>.MuiTableHead-root {
                        > tr th {
                            // background: orange;
                            font-family: sans-serif;
                            font-size: 10px;
                            font-weight: 800;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #000;     
                            padding: 10px 20px;                       
                        }
                    

                }
                & > .MuiTableBody-root{
                    > tr td,th{
                        // opacity: 0.6;
                        font-family: sans-serif;
                        font-size: 13px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        // padding-top: 11px;
                        // padding-bottom: 11px;
                        padding: 11px 20px;
                    }                    
                }
                
            }
        }
    }
}