.ecrf-login-main {
    width: 100%;
    height: 100vh;
    // background: lightcyan;
    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
        font-size: 12px;
        color: black;
    }

    &>.MuiGrid-root {

        &>.MuiGrid-item:nth-child(1) {
            height: 100vh;
            background-image: url('../../assets//images//doctor.png');
            background-repeat: no-repeat;
            // background-position: center;
            background-size: cover;
            background-origin: initial;
        }

        &>.MuiGrid-item:nth-child(2) {
            // background:lightcoral;
            height: 100vh;
            // margin: 0px 20px;

            &>.form {
                display: flex;
                flex-direction: column;
                height: inherit;
                align-items: center;
                justify-content: center;


                &>.logoClass{
                    
                    margin-bottom: 3%;
                    // padding: 5%;
                    // object-fit: cover;
                    height: 70px;
                    width: flex;
                    @media (max-height: 650px) {
                        margin-top: 5%;
                        height: 50px;
                        width: flex;
                        margin-bottom: 3%;
                    }
                    @media (max-width: 1000px) {
                        height: 60px;
                        width: flex;
                        margin-bottom: 3%;
                    }
                    @media (max-width: 850px) {
                        height: 50px;
                        width: flex;
                        margin-bottom: 3%;
                    }
                    @media (max-width: 700px) {
                        height: 45px;
                        width: flex;
                        margin-bottom: 3%;
                    }
                    @media (max-width: 500px) {
                        height: 35px;
                        width: flex;
                        margin-bottom: 3%;
                    }
                }

                &>.MuiFormControl-root {
                    background: white;
                    margin-bottom: 20px;
                    width: 70%;
                    border-radius: 20px;              
                }

                >.MuiTypography-root:nth-child(3) {
                    font-family: sans-serif;
                    font-size: 40px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: -0.28px;
                    // text-align: center;
                    color: #4a4a4a;
                    margin-bottom: 8px;
                    @media (max-width: 850px) {
                        font-size: 25px;
                    }
                    @media (max-width: 700px) {
                        font-size: 20px;
                    }

                    >span {
                        font-weight: 300;
                    }
                }

                >.MuiTypography-root:nth-child(4) {
                    font-family: sans-serif;
                    font-size: 22px;
                    font-weight: 100;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: -0.14px;
                    color: #4a4a4a;
                    margin-bottom: 50px;
                    @media (max-width: 850px) {
                        font-size: 19px;
                    }
                    @media (max-width: 700px) {
                        font-size: 17px;
                    }
                    @media (max-width: 500px) {
                        font-size: 15px;
                    }
                }

                //password
                >.MuiTextField-root:nth-child(5) {
                    >label {
                        opacity: 0.51;
                        font-family: sans-serif;
                        font-size: 16px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #8f8f8f;
                    }
                    > .MuiOutlinedInput-root {
                        border-radius: 8px;
                         & fieldset {
                            border-color: #636363,
                          }
                        &.Mui-focused fieldset {
                          border-color: #1e85b2;
                        }
                      }
                }

                >.MuiTextField-root:nth-child(6) {
                    >label {
                        opacity: 0.51;
                        font-family: sans-serif;
                        font-size: 16px;
                        font-weight: 600;
                        color: #8f8f8f;
                    }

                    > .MuiOutlinedInput-root {
                        border-radius: 8px;
                        & fieldset {
                           border-color: #636363,
                         }
                       &.Mui-focused fieldset {
                         border-color: #1e85b2;
                       }
                     }

                    margin-bottom: 8px;
                }

                //Forgot-password
                >.MuiTypography-root:nth-child(7) {
                    position: relative;
                    left: 24%;
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: right;
                    color: #8f8f8f;
                    cursor: pointer;
                    margin-bottom: 45px;
                    font-weight: 600;
                    opacity: 0.6;
                    @media (max-width: 1000px) {
                        left: 20%;
                        font-size: 15px;
                    }
                    @media (max-width: 800px) {
                        left: 16%;
                        font-size: 13px;
                    }
                    @media (max-width: 600px) {
                        left: 10%;
                        font-size: 11px;
                    }
                }

                //Submit button
                &>.MuiButton-root:nth-child(8) {
                    // background: red;
                    width: 57%;
                    // padding: 17px 115px;
                    border-radius: 6px;
                    background-color: #1e85b2;
                    color: #fff;
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: none;
                    margin-bottom: 18px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }

                >.MuiTypography-root:nth-child(9) {
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #8f8f8f;
                    margin-bottom: 20px;
                    font-weight: 600;
                    opacity: 0.6;
                    @media (max-width: 850px) {
                        font-size: 15px;
                    }
                    @media (max-width: 700px) {
                        font-size: 13px;
                    }
                    @media (max-width: 500px) {
                        font-size: 11px;
                    }
                }

                //Request Access button
                &>.MuiButton-root:nth-child(10) {
                    // background: red;
                    width: 40%;
                    // padding: 17px 115px;
                    border-radius: 6px;
                    background-color: #fff;
                    color: #1e85b2;
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: none;
                    margin-bottom: 18px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    @media (max-width: 850px) {
                        font-size: 13px;
                    }
                    @media (max-width: 700px) {
                        font-size: 9px;
                    }
                    @media (max-width: 600px) {
                        font-size: 8px;
                    }
                }
            }

        }
    }
}