// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     -webkit-font-smoothing: antialiased;
//   }

//   html {
//     background: #b5c0ad;
//     min-height: 720px;
//     min-width: 320px;
//   }

//   html,
//   body {
//     height: 100%;
//   }

#root1 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.simple-login {
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 615px;
  padding-bottom: 66px;
  padding-top: 46px;
  text-align: center;
  width: 90%;
  margin-left: 50px;
}
.simple-login > .logo {
  //max-width: 90%;
  width: 100px;
  padding: 5px;
  background-color: black;
}
.simple-login > .form {
  margin-bottom: 98px;
  margin-top: 41px;
}

.input-group {
  margin-bottom: 26px;
}
.input-group:nth-last-child(-n + 2) {
  margin-bottom: 50px;
}
.input-group > label,
.input-group > input {
  font-family: "Roboto", sans-serif;
  max-width: 420px;
  text-align: left;
  width: 80%;
}
.input-group > label {
  color: #676767;
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.input-group > input {
  background: #f2f2f5;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  color: #676767;
  font-size: 16px;
  height: 40px;
  outline: 0;
  padding: 0 15px;
  transition: all 0.3s;
}
.input-group > input:focus {
  background: #fff;
  border-color: #c4c4c4;
}
.input-group > input::placeholder {
  color: #c4c4c4;
  font-size: 16px;
}

.simple-button {
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 1px;
  max-width: 320px;
  outline: 0;
  padding: 10px 0;
  transition: background 0.3s;
  width: 50%;
}
.simple-button.primary {
  background: #1e85b2;
}
.simple-button.primary:hover {
  background: #074b68;
}
.simple-button.secondary {
  background: #c1d7aa;
}
.simple-button.secondary:hover {
  background: #a8c787;
}

.header {
  width: 40%;
  margin: 100px 67.5px 14px 270px;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;
  text-align: center;
  color: #4a4a4a;
}
.sub_header {
  width: 35%;
  height: 26px;
  margin: 7px 83px 54px 290px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  color: #4a4a4a;
}

.input-group1 > input {
  width: 342px;
  height: 53px;
  margin: 54px 0 20px 82px;
  padding: 15px 278px 21px 19px;
  border-radius: 8px;
  border: solid 1px #636363;
  background-color: #fff;
}


.centered img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.login-img {
  // object-fit: cover;
  // width: 100%;
  // max-height: 100%;
  // object-fit: none;
  width: 512px;
  height: 768px;
}
.mainContainer {
  // width: 1024px;
  // height: 768px;
  // height: 30%;
  // background-color: #fff;
  // position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   top: 0;
  //   background-color: #fff;
  //   z-index: 10;
    // background-color: rgb(241, 237, 237);
      background-color: rgb(241, 235, 235);
  // position:absolute;
  // top:0px;
  // right:0px;
  // bottom:0px;
  // left:0px;
  margin: 0px 100px ;
  
}
.Dont-have-an-accoun {
  width: 35%;
  height: 16px;
  margin: 21px 98px 20px 281px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8f8f8f;
}
button-Request-access {
  width: 80%;
  height: 47px;
  margin: 20px 87px 100px 170px;
  padding: 15px 34px;
  object-fit: contain;
  border-radius: 4px;
  border: solid 1px #1e85b2;
}

.forgot-password-css{
 
    width: 94%;
    text-align: center;
    padding: 0px;
    margin-top: -15px;
    margin-bottom: 40px;
    color: #8f8f8f;
    font-size: 14px;
    font-family: Roboto;
    font-weight: normal;
    cursor: pointer;
  
}
