.App {
  /* text-align: center; */
  width: 100%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.impact-main-app-content{
  /* position: absolute; */
  /* left: 110px; */
  /* height: calc(100% - 91px); */
  /* width: calc(100% - 110px); */
  /* // top: 96px; */
  overflow-x: hidden;
  overflow-y: hidden;
  /* background: #033F62; */
  /* // background:rgb(231, 236, 237);
  // background: white; */
  height: 100%;


  @media screen and (max-width: 600px) {
    /* // width: calc(100% - 80px); */
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}
